ac-math/
elpa*
elpacs/
*.eld
*.data
*.el~
*.last
*.elc
elpa/
*.*~
bookmarks
bookmarks*
smex-items
ido.last
ac-comphist.dat
history
places
recentf
custom-vars*
transient/
elpy/
var/
.lsp*
eshell/
games/
